@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* header */
.header-style {
    width: 100%;
    padding-bottom: 3%;
    overflow: auto;
    background-color: #ffff00;
    color: #000;
    text-align: center;
}

/* section style */

.section-style {
    background-color: #C0C0C0;
    color: #FFF;
}


/* footer*/
footer {
    height: 100px;
}

#inner-footer {
    text-align: center;
}

#inner-footer li {
    display: inline;
}

#inner-footer i {
    font-size: 150%;
    margin: 1%;
    padding: 2%;
    color: #ffff00;
}

ul#inner-footer {
    padding: 0;
}