@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

                            /*Miscellaneous*/

.body-style {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

                            /* header */
.header-style {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    background-color: #add8e6;
    color: #000;
}

.logo {
    float: left;
    padding-top:0.5%;
    padding-bottom:1%;
}

h2 {
    padding: 2%;
}    


                            /* section style */

.section-style {
    background-color: #696969;
    color: #FFF;
    padding: 0;
}

                            /* gallery */

.gallery {
    margin: 3rem;
    margin-top: 5rem;
    text-align: center; 
}

.gallery img {
    border-style: solid;
    box-shadow: 0 25px 22px 0 rgba(0,0,0,0.20);

}

img[src*="photo1.jpg"] {
    transform: rotate(-15deg);
}

img[src*="photo2.jpg"] {
    transform: rotate(-25deg);
}
img[src*="photo3.jpg"] {
    transform: rotate(15deg);
}
img[src*="photo4.jpg"] { 
    transform: rotate(-5deg);
}
img[src*="photo5.jpg"] { 
    transform: rotate(10deg);
}
img[src*="photo6.jpg"] {
    transform: rotate(-10deg);
}

.responsive {
  width: 15%;
  height: auto;
}


                                /* title and text */


h3 {
    text-transform: uppercase;
    padding-top: 5%;
    letter-spacing: 4px;
    text-align: center;
}

@media only screen and (max-width: 375px) {
  h3 {
    letter-spacing: 0;
  }
}

.text-center { 
    padding: 3%;
}


                                /* cards showing steps */

.card {
    margin-right: 0;
    margin-left: 0;
    margin-top: 5%;
    background-color: #add8e6;
    border:#add8e6; 
}

.card-body, h4 {
    text-align: center;
    padding: 2%;
    margin:0;
}

.fa {
    color: #696969;
    font-size: 2rem;
    margin-top: 4%;
}

                         /* search section */


.form {
    position: relative;
    float: left;
    text-align: center;
    height: 450px;
    top: 15%;
    padding: 5%;
    background: rgba(0,0,0,0.20);

}   

h5 {
    font-size: 25px;
    color: #fff;
    padding: 2%;
    
}


input[type="text"] {
    width: 75%;
    float: left;
    padding: 3%;
}


                            /* buttons */

button {
    padding: 10px;
    background-color: #add8e6;
    border-color: #add8e6; 
    color: #696969;
    font-size:0.875em;
    font-weight: 500;
    left:-60px;
    margin-top:25px;
    margin-right: 5px;
    
}

button:hover {
    transform: scale(1.1);
    color: #fff;
}

button:focus {     
    background-color: #696969;  
    border: #fff;
    color: #fff;  
}


                        /* current choice window */
.current_choice {
    position: relative;
    text-align: center;
    float: left;
    height: 450px;
    top: 15%;
    padding: 5%;
    width: 100%;
}

h4 {
    margin-top: 6%;
    margin-bottom: 4%;
}


.action-buttons {
    display: block;
    margin-top: 10%;
}

@media only screen and (max-width: 767px)
{
    .form, .current_choice {
        display: block; 
        float: none; 
        width: 100%;
        padding: 20px 0;
    }
}

                        /* map */
#map {
    height: 600px;
    margin: 0;
    padding: 0;
    width: 100%;
}


                                /* footer*/
footer {
    height: 100px;
    background-color: #696969;
}

#inner-footer {
    text-align: center;
}

#inner-footer li {
    display: inline;
}

#inner-footer i {
    font-size: 150%;
    margin: 1%;
    padding: 2%;
    color: #add8e6;
}

ul#inner-footer {
    padding: 0;
}